/*styles for the site*/
.center {
  text-align: center;
}

.grey {
  color: grey;
}

.inner-panel {
  height: 100%;
  overflow-y: auto;
  /*will only add scroll when needed*/
}


#vid {
  /*background-color: blue;*/
  width: 100%;
  height: 150vh;
}

#editor {
  background-color: #bcb7b8;
  width: 100%;
  height: 150vh;
  /*overflow-y:auto; /*will only add scroll when needed*/
}

div.ui.sticky.icon.menu.remove-pad {
  margin-top: -14px;
  /*background-color: #FFCE6B; lighter yellow*/
  background-color: #FFA900;
}


div.ui.card {
  margin-top: 2%;
  /*no working - orginal in min.css */
  margin-bottom: 4%;
}

#caption-input {
  /*border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;*/
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: none;
  margin-top: 19px;
  /*border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.center-div {
  text-align: center;
}

#speaker {
  width: 59px;
  height: 3px;
  padding: 4px;
  font-size: 8px;
  border: none;
  background-color: #e8e8e8;
}

/*for time stamp*/
input.label-formatting {
  width: 75px;
  height: 12px;
  padding: 6px;
  font-size: x-small;
  border: none;
  background-color: #e8e8e8;
}

/* Not yet in use */
.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

